.about {
  padding: 100px 20px 77px;
  @media screen and (max-width: 592px) {
    padding: 100px 10px 77px;
  }
  .container {
    .title-h2 {
      text-align: start;
    }
    .img-background {
      opacity: 5%;
      width: 630px;
      height: 616px;
      top: 116px;
      left: 39%;
    }
    .about__container {
      max-width: 1572px;
      width: 100%;
      .shadow {
        height: 320px;
        left: 0;
        right: 0;
        bottom: -38px;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          #1a1a1b 75.28%
        );
        z-index: 203;
        @media screen and (max-width: 1470px) {
          bottom: -80px;
        }
      }
      .about__text {
        max-width: 640px;
        width: 100%;
        @media screen and (max-width: 1121px) {
          text-align: center;
          margin: auto;
        }
        .title--white {
          white-space: nowrap;
        }
        .text {
          font-size: 1.5625rem;
          text-align: justify;
          color: #ffffff;
          font-weight: 400;
          max-height: 563px;
          transition: max-height 10s;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 0;
          }
          span {
            display: block;
            margin-bottom: 35px;
          }
        }
        .shadow {
          height: 32px;
          bottom: -38px;
          background: #1a1a1b;
          -webkit-box-shadow: 0px -62px 80px 100px rgba(26, 26, 27, 1);
          -moz-box-shadow: 0px -62px 80px 100px rgba(26, 26, 27, 1);
          box-shadow: 0px -62px 80px 100px rgba(26, 26, 27, 1);
        }
      }
      .about__img {
        max-width: 693px;
        width: 100%;
        max-height: 714px;
        .image {
          width: 600px;
          height: 900px;
          top: -150px;
          right: 100px;
          z-index: 202;
          @media screen and (max-width: 1269px) {
            right: 0;
          }
        }

        .img-container__text {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.5625rem;
          text-align: center;
          max-width: 379px;
          z-index: 204;

          .text__span {
            font-weight: 300;
            margin-top: 5px;
            display: block;
          }
        }
      }
      @media screen and (max-width: 1121px) {
        flex-direction: column;
        .about__text {
          margin: 0 auto;
          .shadow {
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
            height: 175px;
            bottom: -176px;
            z-index: 201;
          }
        }
        .about__img {
          min-height: 601px;
          margin: 0 auto;

          .image {
            width: 401px;
            height: 601px;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      @media screen and (max-width: 992px) {
        .about__text {
          .shadow {
            height: 265px;
            bottom: -305px;
          }
        }
      }
    }
    @media screen and (max-width: 1121px) {
      .title-h2 {
        text-align: center;
        margin: auto;
      }
      .img-background {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
