.cases {
  padding: 0;
  .container {
    .cases__title {
      margin-bottom: 26px;
    }
    .cases__container {
      max-width: 1860px;
      padding: 20px;
      .case__item {
        padding: 53px 0;
        .case__slider {
          max-width: 1289px;
          width: 100%;
          max-height: 600px;
          height: 100%;
          margin: 0;
          .swiper-wrapper {
            .swiper-slide {
              img {
                width: 100%;
                max-height: 600px;

                height: 100%;
              }
            }
          }
          .swiper-pagination {
            .swiper-pagination-bullet {
              width: 16px;
              height: 16px;
            }
            .swiper-pagination-bullet-active {
              background: #aca3a3;
            }
          }
        }
        .case__text-container {
          max-width: 476px;
          width: 100%;
          margin-left: 54px;
          .text-container__title {
            height: 183px;

            .case__title {
              margin-left: 60px;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -14px;
                width: 159px;
                height: 6px;
                background-color: #e9c38a;
              }
            }
            margin-bottom: 46px;
          }
          .text-container__description {
            .item__head {
              font-weight: 700;
              font-size: 1.5625rem;
              margin-bottom: 25px;
            }
            .description__item {
              font-weight: 300;
              font-size: 1.5625rem;
              position: relative;
              padding-left: 40px;

              &::before {
                content: "";
                position: absolute;
                top: 16px;
                left: 18.5px;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: #fff;
              }
            }
          }
        }
        &:first-child {
          padding: 0 0 53px;
        }

        @media screen and (max-width: 1450px) {
          flex-direction: column-reverse;
          align-items: center;
          .case__text-container {
            max-width: 1289px;
            margin-left: 0;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
