.footer {
  background-color: #1a1a1b;
  * {
    font-family: $ubuntu;
  }
  .image__wrapper {
    min-height: 563px;
    overflow: hidden;
    background: center / cover no-repeat fixed url("../img/footer.jpg");

    @media screen and (max-width: 767px) {
      min-height: 137px;
      background: center / cover no-repeat local url("../img/footer.jpg");
    }
  }
  .container {
    padding: 105px 20px 10px;
    font-size: 1.5rem;
    font-weight: 500;
    @media screen and (max-width: 767px) {
      padding: 41px 20px 10px;

      font-size: 0.75rem;
      line-height: 15px;
    }
    .image {
      width: 311px;
      height: 161px;
      top: 0;
      left: 50%;
      @media screen and (max-width: 767px) {
        width: 93px;
        height: 48px;
      }
    }
    .footer__contacts,
    .footer__save {
      max-width: 1593px;
      margin: 0 auto;
      width: 100%;
    }
    .footer__contacts {
      margin-bottom: 51px;
      .list {
        &--right {
          text-align: end;
        }
        li {
          &:last-child,
          &:nth-child(4) {
            font-weight: 300;
          }
        }
      }
      .links {
        max-width: 171px;
        margin: 0 20px;
        width: 100%;
        .links__container {
          margin-top: 27px;
          .youtube {
            width: 66.82px;
            height: 47.73px;
            img {
              width: 66.82px;
              height: 47.73px;
            }
          }
          .vk {
            width: 55.38px;
            height: 57.09px;
            img {
              width: 55.38px;
              height: 57.09px;
            }
          }
        }
      }
      @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        .list {
          &--right {
            text-align: center;
            display: none;
          }
        }
        .links {
          margin: 20px 0;
        }
      }
      @media screen and (max-width: 767px) {
        .links {
          max-width: 87px;
          margin: 20px 0 0;

          .links__container {
            margin-top: 9px;

            .youtube {
              width: 39px;
              height: 27px;
              img {
                width: 39px;
                height: 27px;
              }
            }
            .vk {
              width: 33px;
              height: 34px;
              img {
                width: 33px;
                height: 34px;
              }
            }
          }
        }
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 21px;
      }
    }
    .footer__save {
      p {
        line-height: 28px;

        color: rgba(255, 255, 255, 0.14);
        @media screen and (max-width: 767px) {
          line-height: 15px;
        }
      }
      @media screen and (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}
