.main-section {
  .parallax__slider {
    .slider__container {
      height: 100vh;

      .slider__item {
        height: 100vh;
        &#mainImageSlider {
          &0 {
            z-index: -1;
            opacity: 0;
            transform: scale(1.4);
            background-image: url("../img/main-image.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
          &1 {
            z-index: -1;
            opacity: 0;
            transform: scale(1.4);
            background-image: url("../img/sldie2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
          &2 {
            z-index: -1;
            opacity: 0;
            transform: scale(1.4);
            background-image: url("../img/sldie3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
          &3 {
            z-index: -1;
            opacity: 0;
            transform: scale(1.4);
            background-image: url("../img/sldie1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
        &.first-open {
          &#mainImageSlider {
            &0 {
              opacity: 100%;
              transform: scale(1);
              z-index: 9;
            }
          }
        }
        &.open {
          &#mainImageSlider {
            &0 {
              animation: sliderAnimation 4s forwards,
                sliderAnimationOpacity 2s forwards;
            }
            &1 {
              animation: sliderAnimation 4s forwards,
                sliderAnimationOpacity 2s forwards;
            }
            &2 {
              animation: sliderAnimation 4s forwards,
                sliderAnimationOpacity 2s forwards;
            }
            &3 {
              animation: sliderAnimation 4s forwards,
                sliderAnimationOpacity 2s forwards;
            }
          }
        }
      }
    }
  }
  .main-section__text {
    max-width: 1228px;
    min-height: 235px;
    background: rgba(0, 0, 0, 0.4);

    .vk-link {
      min-height: 235px;
      max-width: 129px;
      cursor: pointer;
      &__container {
        font-family: $gilroy;
        font-size: 1.125rem;
        font-weight: 700;
        transform: rotate(90deg);
        letter-spacing: 2px;
        & > img {
          transform: rotate(-90deg);
          margin: auto;
          margin-left: 13px;
          @media screen and (max-width: 992px) {
            margin-left: 9px;
          }
        }
      }
      @media screen and (max-width: 992px) {
        max-width: 50px;
        white-space: nowrap;
      }
    }
  }
  .buttons {
    height: 100%;

    .arrow {
      text-align: center;
      p {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 400;
        font-size: 1.25rem;
      }
      img {
        width: 48px;
        height: 25px;
        margin-top: 30px;
        transition: transform 0.3s;
      }
      &:hover {
        img {
          transform: translateY(-10px);
        }
      }
    }
  }
}

@keyframes sliderAnimation {
  from {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}

@keyframes sliderAnimationOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
