.parallax,
.parallax__layer {
  height: 100vh;
}
.parallax__layer {
  position: fixed;
  background-position: bottom center;
  background-size: auto 100%;
  background-repeat: repeat-x;
  width: 100%;
  z-index: 10;
}
#parallax-0 {
}

#parallax-2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1a1a1b 84.92%);
  height: 50%;
  bottom: -20px;
}
#parallax-3 {
  height: 24%;
  bottom: 89px;
  @media screen and (max-height: 886px) {
    height: 30%;

    bottom: 25px;
  }
}
