.workStages {
  padding: 0;
  .container {
    .stages__title {
      margin-bottom: 20px;
    }
    .stages__container {
      padding: 0 20px;
      margin: 0 auto;
      .stage {
        padding: 35px;
        max-width: 1820px;
        margin: 0 auto;
        transition: max-height 0.5s;

        .stage___container {
          max-height: 200px;
          transition: max-height 0.5s;

          overflow: hidden;
          align-items: flex-start;
          grid-template-columns: 1fr minmax(100px, 757px);
          column-gap: 100px;
          row-gap: 20px;

          grid-template-rows: max-content max-content max-content;
          grid-template-areas:
            "title stage-text"
            "stage-image stage-text";
          @media screen and (max-width: 1654px) {
            column-gap: 50px;
          }
          @media screen and (max-width: 1592px) {
            max-height: 400px;
            column-gap: 0;
            row-gap: 20px;

            justify-items: center;
            grid-template-columns: 1fr;
            grid-template-areas:
              "title"
              "stage-text"
              "stage-image";
          }
          @media screen and (max-width: 797px) {
            max-height: 330px;
          }
          @media screen and (max-width: 544px) {
            max-height: 450px;
          }

          .stage__title {
            .title__container {
              grid-area: title;

              .title {
                width: 100%;
                .title-h3__span {
                  display: block;
                  font-weight: 300;
                  font-size: 0.6em;
                  line-height: 37px;
                  color: #dfaa5b;
                  margin-top: 10px;
                }
              }
              .stage__count {
                font-weight: 700;
                font-size: 7.5rem;
                color: $e9;
                min-width: 187px;
                height: 183px;
                margin-right: 91px;
                @media screen and (max-width: 1735px) {
                  margin-right: 30px;
                }
                @media screen and (max-width: 797px) {
                  min-width: 115px;
                  height: 115px;
                  font-size: 6rem;

                  .lines {
                    width: 115px;
                    height: 115px;
                  }
                }
                @media screen and (max-width: 544px) {
                  min-width: 65px;
                  height: 65px;
                  font-size: 3.125rem;
                  margin-right: 0;
                  justify-content: center;
                  margin-bottom: 30px;
                  .lines {
                    width: 65px;
                    height: 65px;
                  }
                }
              }
              @media screen and (max-width: 544px) {
                flex-direction: column;
                text-align: center;
                margin: 0 auto;
              }
            }
            @media screen and (max-width: 1592px) {
              width: 100%;
            }
          }
          .stage-text___container {
            grid-area: stage-text;
            margin-left: 10px;

            .stage__text {
              margin-top: 33px;
              line-height: 24px;
              font-weight: 300;
              font-size: 1.25rem;
              width: 100%;
              transition: max-height 0.5s;

              max-height: 121px;
              overflow-y: hidden;
              text-align: justify;
              @media screen and (max-width: 544px) {
                text-align: center;
              }
            }
            .text__button {
              margin-top: 6px;
              background: none;
              border: 0;
              color: #dfaa5b;
              font-weight: 300;
              font-size: 1.25rem;
            }
          }
          .stage-image {
            grid-area: stage-image;
            width: 100%;
            opacity: 0;
          }
        }
        &.open {
          .stage___container {
            max-height: 1000vh;
            .stage-text___container {
              .stage__text {
                max-height: 1000vh;
              }
            }
            .stage-image {
              opacity: 100%;
            }
          }
        }
        @media screen and (max-width: 544px) {
          padding: 35px 0;
        }
      }
    }
  }
}
