// FONTS

$gilroy: "Gilroy";
$moncerat: "Montserrat", sans-serif;
$maven: "Maven Pro", sans-serif;
$ubuntu: "Ubuntu", sans-serif;

// COLORS

$e8: #e8bc7b;
$e8-gradient: linear-gradient(
  94.95deg,
  #e8bc7b 28%,
  rgba(128, 108, 80, 0.96) 53.98%
);
$e9: #e9c38a;
$blue: #4063bf;

// mixins
