@font-face {
  font-family: Neothic;
  font-display: swap;
  src: url("../fonts/Neothic.woff2") format("woff2"),
    url("../fonts/Neothic.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
