@import "styles/vars.scss";
@import "styles/globals.scss";

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

html {
  &.no-scroll {
    overflow: hidden;
  }
}

body {
  background-color: #1a1a1b;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  &-h1 {
    font-size: 3.125rem;
    padding-left: 121px;
    max-width: 1820px;
    @media screen and (max-width: 992px) {
      font-size: 1.875rem;
      padding-left: 50px;
    }
    @media screen and (max-width: 767px) {
      padding-left: 64px;
      font-size: 1.5625rem;
      line-height: 30px;
      max-width: 700px;

      text-shadow: 0px 4px 4px rgba(255, 249, 249, 0.25);
      margin-top: 15px;
      .title__span--e9 {
        font-size: 0.9375rem;

        line-height: 18px;

        text-shadow: 0px 4px 4px rgba(255, 249, 249, 0.25);
      }
    }
    @media screen and (max-width: 334px) {
      padding-left: 50px;
    }
  }
  &-h2 {
    text-align: center;
    font-size: 7.5rem;
    background: $e8-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $e8;
    display: table;
    margin: 0 auto;
    line-height: 1.59167em;
    @media screen and (max-width: 1470px) {
      font-size: 6rem;
    }
    @media screen and (max-width: 992px) {
      font-size: 3.6875rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 25px;
      line-height: 40px;
    }
  }
  &--white {
    display: unset;
    background: unset;
    -webkit-text-fill-color: unset;
    color: #ffffff;
    .title--white__span {
      font-size: 6.25rem;
      text-transform: lowercase;
      @media screen and (max-width: 992px) {
        font-size: 3.6875rem;
      }
      @media screen and (max-width: 767px) {
        font-size: 1.25rem;
      }
    }
  }
  &__span {
    &--up {
      font-size: 1.2em;
    }
    &--e8 {
      color: $e8;
    }
    &--e9 {
      color: $e9;
      text-transform: lowercase;
      font-weight: 400;
    }
  }
  &-h3 {
    font-weight: 300;
    font-size: 3.125rem;
    @media screen and (max-width: 797px) {
      font-size: 1.875rem;
    }
  }
  &-h4 {
    font-size: 1.875rem;
    line-height: 37px;
    text-align: justify;

    color: #ffffff;

    text-shadow: 4px 4px 20px rgba(253, 253, 253, 0.5);
    @media screen and (max-width: 592px) {
      font-size: 1.5625rem;
      text-align: start;
    }
  }

  &-h5 {
    font-size: 1.25rem;
    line-height: 24px;
    text-align: center;
    color: #000;
    text-transform: none;
  }
}

.main__content {
  position: relative;
  min-height: 100vh;
  z-index: 99;
  background-color: #1a1a1b;
}

.button {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  .scale {
    display: block;
    transition: transform 0.3s;
  }
  &:hover {
    .scale {
      transform: scale(1.1);
    }
  }
  &.main-section__button {
    font-size: 1.25rem;
    font-weight: 700;
    max-width: 412px;
    padding: 1.3em 2em;
    box-shadow: 5px 4px 32px 6px rgba(0, 0, 0, 0.5);
    @media screen and (max-width: 767px) {
      max-width: 250px;
      font-size: 0.75rem;
      line-height: 15px;
      text-align: center;
      border-radius: 10px !important;
      color: #ffffff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &.about__button {
    font-weight: 600;
    font-size: 1.5625rem;
    max-width: 640px;
    padding: 1.4em 0;
    margin-top: 43px;
    @media screen and (max-width: 767px) {
      max-width: 250px;
      font-size: 0.75rem;
      line-height: 15px;
      text-align: center;
      border-radius: 10px !important;
      color: #ffffff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &.stages__button {
    font-weight: 600;
    font-size: 1.5625rem;
    padding: 1.16em 0;
    @media screen and (max-width: 767px) {
      max-width: 250px;
      font-size: 0.75rem;
      line-height: 15px;
      text-align: center;
      border-radius: 10px !important;
      color: #ffffff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &.button-small {
    font-weight: 700;
    font-size: 1.25rem;
    max-width: 371px;
    padding: 1.25em 0;
    @media screen and (max-width: 767px) {
      max-width: 250px;
      font-size: 0.75rem;
      line-height: 15px;
      text-align: center;
      border-radius: 10px !important;
      color: #ffffff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &.button--10radius {
    border-radius: 10px;
  }
  &.button--15radius {
    border-radius: 15px;
  }

  &.button--blue {
    background-color: $blue;
  }
  &.button--orange {
    background-color: $e9;
  }
}

.section {
  padding: 0 20px;
}

.absolute-before {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    top: 0;
    left: 50%;
    height: 1px;
    background-color: #ffffff;
    transform: translateX(-50%);
  }
}
.absolute-after {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    bottom: 0;
    left: 50%;
    height: 1px;
    background-color: #ffffff;
    transform: translateX(-50%);
  }
}

.lines {
  opacity: 5%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 187px;
  height: 183px;
}

.lb-widget-panel {
  right: 38px !important;
  @media screen and (max-width: 992px) {
    right: 5px !important;
  }
}

@import "styles/{*, !globals, !vars}.scss";
@import url("/node_modules/wow.js/css/libs/animate.css");
